<body>
  <div class="wallpaper"></div>
  <h1 class="test">Think legacy with us</h1>
  <p>We are a local family that would like to show you around our town in a unique
  way. Fed by several areas of knowledge and different approaches to reality,
  we will journey simultaneously through memory and through some of the most
  relevant issues of our times.</p>
  <p>Our tours are participatory, so not only do we invite you to explore our living
  spaces but your own inner worlds. You don't have to be or know anything in
  particular, just relax and enjoy.</p>
  <h1>Guides</h1>
  <h2>Mariana Galán</h2>
  <span>MA in Social Sculpture</span>
  <p>Imaginative, nonconformist, resourceful</p>
  <h2>Francisco Galán</h2>
  <span>MA in Philosophy</span>
  <p>Razor-sharp logic, insightful, playful</p>
  <h2>Genevieve Galán</h2>
  <span>PhD in History</span>
  <p>Witty, profound, welcoming</p>
  <h1>Tours</h1>
  <h2>Book now!</h2>
</body>
