// Place all the styles related to the tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$pink: #f89b89;
$gray: #555;
$dark-gray: #333;
$sfumato3: #3b899b;
$sfumato4: #214858;
$ocre: #d3b07c;
$yellow: #fee85f;


body {
  color: #fff;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin: 0;
}

.wallpaper {
  background-position: center;
  background-size: cover;
  background-position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("moon.jpg"), linear-gradient(to bottom right, pink, white);
  background-blend-mode: exclusion;
  text-align: center;
  margin: 0;
  padding-top: 100px;
}

.black {
  background-color: black;
  display: inline;
}

.white {
  background: linear-gradient(to left, rgba(255, 255, 255, .1), rgba(255, 255, 255, 1)90%);
}

.pink {
  background-color: $pink;
}

.gold {
  background: linear-gradient(to bottom right, $ocre, $yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gray {
  color: $gray;
}

.dark-gray {
  color: $dark-gray;
}

.big-text {
  font-size: 5em;
  font-family: "Quicksand", sans-serif;
  padding: 0 0.3em 0 0.3em
}

.content-box {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  text-align: justify;
}

.diagonal-box {
  transform: rotate(45deg);
  margin: 0px;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
}

.block {
  display: block;
}

.margin {
  margin: 20px;
}

.opacity {
  opacity: 0.5;
}

.border-bottom {
  border-bottom: 2px solid $yellow;
  border-radius: 2px;
}

.rotation {
  animation-duration: 20s;
  animation-name: rotate;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.scale {
  animation-duration: 10s;
  animation-name: scale;
  animation-iteration-count: infinite;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

.diagonal-caption {
  transform-origin: 0 0;
  transform: rotate(320deg);
  text-align: left;
}
