// Place all the styles related to the tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.wallpaper {
  background-position: center;
  background-size: cover;
  // opacity: 0.2;
  position: fixed;
  margin-top: -100px;
}

.test {
  font-size: 5em;
}
